In [7]:
# Importanto bibliotecas

import pandas as pd
from bs4 import BeautifulSoup
import requests
import datetime
import time

In [8]:
# Adquirindo os dados

URL = 'https://www.amazon.com.br/Echo-Dot-5ª-geração-Cor-Preta/dp/B09B8VGCR8/?_encoding=UTF8&pd_rd_w=O6st4&content-id=amzn1.sym.52e74d21-088e-4a9d-888d-8b14bf95d4ae&pf_rd_p=52e74d21-088e-4a9d-888d-8b14bf95d4ae&pf_rd_r=4ABP98KEY79RKMYJZRBC&pd_rd_wg=3yVOz&pd_rd_r=6bea3132-d8fa-4972-a1a5-640ebada6813&ref_=pd_gw_crs_zg_bs_16333486011'

headers = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/121.0.0.0 Safari/537.36 OPR/107.0.0.0", "Accept-Encoding":"gzip, deflate", "Accept":"text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8", "DNT":"1","Connection":"close", "Upgrade-Insecure-Requests":"1"}

page = requests.get(URL, headers=headers)

soup1 = BeautifulSoup(page.content, "html.parser")

soup2 = BeautifulSoup(soup1.prettify(), "html.parser")

In [9]:
# Selecionando as informações

title = soup2.find(id='productTitle').get_text()

price = soup2.find(class_="aok-offscreen").get_text()

stars = soup2.find(class_="a-icon-alt").get_text()

reviews = soup2.find(id="acrCustomerReviewText").get_text()

print(title)
print(price)
print(stars)
print(reviews)

             Echo Dot 5ª geração | O Echo Dot com o melhor som já lançado | Cor Preta


               R$ 386,10


                 4,8 de 5 estrelas


              36.407 avaliações de clientes

In [10]:
# Limpando os dados

titleC = title.strip()

priceC = price.strip()[3:]

starsC = stars.strip()
starsC = starsC.split()[0]

reviewsC = reviews.strip()
reviewsC = reviewsC.split()[0]

print(titleC)
print(priceC)
print(starsC)
print(reviewsC)

Echo Dot 5ª geração | O Echo Dot com o melhor som já lançado | Cor Preta
386,10
4,8
36.407

In [11]:
# Criando DataFrame

today = datetime.date.today().strftime("%d/%m/%y")

header = ['Título', 'Preço (R$)', 'Avaliação (0-5)', 'Número de Avaliações', 'Data']
data = [titleC, priceC, starsC, reviewsC, today]

df = pd.DataFrame(columns = header)

df

Empty DataFrame
Columns: [Título, Preço (R$), Avaliação (0-5), Número de Avaliações, Data]
Index: []

In [12]:
df.loc[0] = data

df

,Título,Preço (R$),Avaliação (0-5),Número de Avaliações,Data
0,Echo Dot 5ª geração | O Echo Dot com o melhor ...,"386,10","4,8",36.407,05/03/24

In [66]:
df.to_csv(r'C:\Users\pedro\Documents\Data_Science\Web Scraping\AmazonEchoDot.csv', index = False)

In [13]:
# Função para automatizar o processo

def check_price():
    page = requests.get(URL, headers=headers)
    soup2 = BeautifulSoup(page.content, "html.parser")
    
    title = soup2.find(id='productTitle').get_text()
    price = soup2.find(class_="aok-offscreen").get_text()
    stars = soup2.find(class_="a-icon-alt").get_text()
    reviews = soup2.find(id="acrCustomerReviewText").get_text()
    
    titleC = title.strip()
    priceC = price.strip()[3:]
    starsC = stars.strip()
    starsC = starsC.split()[0]
    reviewsC = reviews.strip()
    reviewsC = reviewsC.split()[0]
    today = datetime.date.today().strftime("%d/%m/%y")
    
    data = [titleC, priceC, starsC, reviewsC, today]
    df.loc[len(df.index)] = data

In [17]:
import warnings
warnings.filterwarnings('ignore')

while(True):
    check_price()
    time.sleep(86400)

KeyboardInterrupt:

In [18]:
df

,Título,Preço (R$),Avaliação (0-5),Número de Avaliações,Data
0,Echo Dot 5ª geração | O Echo Dot com o melhor ...,"386,10","4,8",36.407,05/03/24
1,Echo Dot 5ª geração | O Echo Dot com o melhor ...,"386,10","4,8",36.407,05/03/24
2,Echo Dot 5ª geração | O Echo Dot com o melhor ...,"386,10","4,8",36.407,05/03/24
3,Echo Dot 5ª geração | O Echo Dot com o melhor ...,"386,10","4,8",36.407,05/03/24
4,Echo Dot 5ª geração | O Echo Dot com o melhor ...,"386,10","4,8",36.407,05/03/24
5,Echo Dot 5ª geração | O Echo Dot com o melhor ...,"386,10","4,8",36.407,05/03/24
6,Echo Dot 5ª geração | O Echo Dot com o melhor ...,"386,10","4,8",36.407,05/03/24

In [19]:
df.to_csv(r'C:\Users\pedro\Documents\Data_Science\Web Scraping\AmazonEchoDot.csv', index = False)